:root {
  --bl: #000000;
  --lg-grey: #8B8C8E;
  --dr-grey: #3E4042;
  --wh: #ffffff;
  --lg-green: #5AFDFF;
  --dr-green: #159A9C;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: min(100% - 20px, 1760px);
  margin-inline: auto;
}

.container-small {
  width: min(100% - 30px, 930px);
  margin-right: auto;
  margin-left: 377px;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: var(--wh);
  background: var(--dr-grey);
}

.header {
  position: absolute;
  right: 0;
  left: 0;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8px 0;
  padding-top: 49px;
}

.logo {
  z-index: 5;
}

.nav__items {
  display: flex;
  gap: 60px;
  /* margin-top: -25px; */
}

.item__link {
  font-weight: 500;
  font-size: 20px;
  color: #B4BEC9;
}

.item__link-btn {
  display: flex;
  font-size: 16px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: var(--wh);
  padding: 14px 56px;
  border-radius: 15px;
  background-color: var(--dr-green);
  transition: all .3s;
}

.item__link-btn:hover {
  background-color: var(--lg-green);
}

.nav__item:last-child {
  display: none;
}

.promo__link-btn {
  display: none;
}

.burger {
  display: none;
}

.promo {
  background: url(../img/promo-bg.jpg) no-repeat;
  background-color: var(--bl);
  background-size: cover;
  background-position: top;
  padding-bottom: 39px;
  position: relative;
  z-index: -5;
}

.promo__box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: end;
  min-height: 110vh;
}

.promo__box-title {
  position: relative;
  right: 0;
  bottom: 0;
  font-size: 238px;
  /* font-size: 9.917vw; */
  font-style: normal;
  font-weight: 600;
  letter-spacing: -5.76px;
  z-index: 50;
  margin-right: 27px;
}

.promo__box-title::first-letter {
  letter-spacing: -160px;
  /* letter-spacing: -6.66vw; */
  z-index: 100;
  font-size: 297px;
  /* font-size: 12.36vw; */
}

.promo__box-title span {
  color: var(--dr-green);
  font-size: 918px;
  /* font-size: 38.25vw; */
  font-style: normal;
  font-weight: 400;
  letter-spacing: -150px;
  /* letter-spacing: -6.24vw; */
  font-family: 'Inder', sans-serif;
  z-index: -10;
  position: relative;
  top: 109px;
  /* top: 4.54vw; */
  /* top: 9.38vh; */
  line-height: 67%;
  /* line-height: 32.03vw; */
}

.promo__box-subtitle {
  /* align-self: center;
  text-align: right; */
  font-weight: 600;
  /* line-height: 150%; */
  letter-spacing: -0.85px;
  z-index: 50;
  margin-top: -16px;
  /* margin-right: 4px; */
}

.about {
  margin-bottom: 130px;
  margin-top: 45px;
  background: linear-gradient(to right, rgb(62 64 55 / 50%), rgb(62 64 66 / 50%)), url(../img/about-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.about__inner {
  padding: 57px 0 390px;
}

.section-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.96px;
}

.about__title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.about__text {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

.professionals__title {
  margin-bottom: 20px;
  text-align: center;
}

.professionals__item {
  text-align: center;
  margin-right: 265px;
}

.professionals__item-img {
  border: 1px solid #000;
}

.professionals .slick-center.professionals__item {
  margin-top: 73px;
}

.professionals__item-name {
  margin-top: 8px;

  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.72px;
}

.professionals__item-descr {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.48px;
}

.video {
  background: linear-gradient(to right, rgb(62 64 55 / 50%), rgb(62 64 66 / 50%)), url(../img/video-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 55px;
}

.video__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__link-img {
  margin: 153px 0 38px;
}

.video__title {
  align-self: start;
  margin-bottom: 52px;
}

.portfolio__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 200px 0 40px;
  align-items: center;
}

.portfolio__title {
  font-size: 285px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -5.7px;
  writing-mode: vertical-rl;
  padding-right: 130px;
  transform: scale(-1, -1);
  color: rgba(30, 30, 30, 0.50);
}

.services {
  margin-bottom: 206px;
}

.services__item--link-btn {
  display: none;
}

.services__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 62px;
}

.services__title {
  text-align: center;
  margin-bottom: 100px;
}

.services__item-img {
  margin-right: 135px;
}

.services__item-text {
  margin-right: 68px;
  font-family: 'Inder', sans-serif;
  letter-spacing: -0.64px;
  max-width: 1058px;
}

.link-btn {
  display: flex;
  max-width: 243px;
  padding: 18px 71px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.403px;
  border-radius: 19px;
  background: var(--dr-green);
  transition: all .3s;
}

.link-btn:hover {
  background-color: var(--lg-green);
}

.photo__inner {
  display: grid;
  place-content: center;
  margin-bottom: 130px;
}

.remember {
  background: linear-gradient(to right, rgb(62 64 55 / 50%), rgb(62 64 66 / 50%)), url(../img/remember-bg.jpg);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 155px;
}

.remember__inner {
  padding: 50px 0 70px;
}

.remember__title {
  margin-bottom: 40px;
  font-size: 64px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.28px;
}

.remember__text {
  margin-bottom: 36px;
  max-width: 1002px;

  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

.footer {
  background: url(../img/footer-bg.jpg) no-repeat center;
  background-color: #040607;
  padding: 46px 0 30px;
}

.footer__logo {
  text-align: center;
}

.footer__items--mobile {
  display: none;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 360px;

  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.footer__item-social {
  margin-right: 20px;
}

.footer__item-emal {
  display: block;
  margin-bottom: 2px;
  margin-bottom: 10px;
}

.footer__item-location {
  margin-left: 30px;
}

.footer__item-day {
  margin-left: 10px;
  margin-bottom: 10px;
}

.footer__item-address {
  font-style: normal;
  margin-top: 30px;
}


.footer__item-social:hover path {
  fill: var(--lg-green);
}


@media (max-width: 1655px) {
  .promo__box-title {
    font-size: 217px;
  }
  .container-small {
    margin-left: 235px;
  }

  .portfolio__inner {
    grid-template-columns: 1fr 2fr;
  }

  .portfolio__title {
    padding-right: 70px;
  }

  .services__item-img {
    margin-right: 40px;
  }

  .services__item-text {
    margin-right: 30px;
  }
}

@media (max-width: 1520px) {
  .promo__box-title {
    font-size: 195px;
  }

  .portfolio__title {
    padding-right: 0px;
  }

  .services__item .link-btn {
    display: none;
  }

  .services__item {
    justify-content: space-around;
  }

  .services__item--link-btn {
    display: flex;
    justify-content: center;
  }

  .services__title {
    margin-bottom: 50px;
  }

}

@media (max-width: 1370px) {
  body {
    font-size: 26px;
  }

  .promo__box-title {
    font-size: 163px;
  }
  
  .promo__box-title span{
    line-height: 34%;
  }

  .about__inner {
    padding: 57px 0 315px;
  }

  .section-title {
    font-size: 40px;
  }

  .container-small {
    margin-left: 200px;
    margin-inline: auto;
  }


  .professionals__item {
    margin-right: 140px;
  }

  .portfolio__title {
    font-size: 225px;
  }

  .remember {
    margin-bottom: 70px;
    background-position: 30vw;
  }

  .services {
    margin-bottom: 103px;
  }

  .photo__inner {
    margin-bottom: 60px;
  }


  .services__item-img {
    width: 100px;
  }

  .remember__title,
  .services__title {
    font-size: 52px;
  }
}

@media (max-width: 1262px) {
  .promo__box-title {
    font-size: 148px;
  }

  .promo__box-title::first-letter {
    letter-spacing: -150px;
    font-size: 272px;
  }
}

@media (max-width: 1140px) {
  .promo__box-title {
    font-size: 128px;
  }

  .promo__box-title::first-letter {
    font-size: 250px;
  }
}


@media (max-width: 1020px) {
  body {
    font-size: 22px;
  }

  .promo__box-title {
    font-size: 110px;
  }

  .promo__box-title span {
    font-size: 895px;
  }

  .promo__box-title::first-letter {
    font-size: 240px;
  }

  .about__inner {
    padding: 57px 0 250px;
  }

  .section-title {
    font-size: 32px;
  }

  .professionals__item-img {
    max-width: 500px;
  }

  .portfolio__inner {
    margin: 35px 0;
  }

  .portfolio__title {
    font-size: 180px;
  }

  .services__item-img {
    width: 80px;
  }

  .remember__title,
  .services__title {
    font-size: 48px;
  }

}

@media (max-width: 940px) {
  .nav__items {
    gap: 50px;
  }

  .nav__item .item__link-btn {
    padding: 15px 35px;
  }

  .promo__box-title span {
    font-size: 810px;
    line-height: 44%;
  }

  .promo__box-title {
    font-size: 110px;
  }

  .promo__box-title::first-letter {
    font-size: 240px;
  }

  .professionals__item {
    margin-right: 60px;
  }

  .remember__title,
  .services__title {
    font-size: 42px;
    margin-bottom: 20px;
  }
}



@media (max-width: 830px) {
  .nav__items {
    display: none;
    transform: translateY(-100%);
    transition: all 1s ease-in-out;
    transition: transform 1s;
  }

  .nav__items.menu-open {
    transform: translateY(0%);
    transition: transform 1s;
    transition: all 1s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--bl);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
  }
  
  .burger {
    position: relative;
    display: block;
    background: none;
    width: 32px;
    height: 22px;
    cursor: pointer;
    outline: none;
    border: none;
    z-index: 10;
  }

  .burger span {
    position: absolute;
    display: block;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--dr-green);
    border-radius: 50px;
    transition-property: transform;
    transition-duration: 400ms;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.495, -0.495, 0.44, 1.445);
  }

  .burger span:before,
  .burger span:after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 100%;
    background: var(--dr-green);
    left: 0;
    border-radius: 50px;
  }

  .burger span:before {
    top: -8px;
    transition-property: width, margin-left, margin-top, height;
    transition-duration: 200ms, 200ms, 200ms, 200ms;
    transition-delay: 400ms, 400ms, 200ms, 200ms;
    transition-timing-function: ease;
  }

  .burger span:after {
    bottom: -8px;
    transition-property: width, margin-left;
    transition-duration: 200ms, 200ms;
    transition-delay: 400ms, 400ms;
    transition-timing-function: ease;
  }

  .burger.open span {
    transform: rotate(45deg);
    transition-delay: 600ms;
  }

  .burger.open span:after {
    width: 0;
    margin-left: 28px;
    transition-delay: 0s, 0s;
  }

  .burger.open span:before {
    width: 2px;
    margin-left: 15px;
    margin-top: -7px;
    height: 32px;
    transition-delay: 0s, 0s, 200ms, 400ms;
  }
  
  .item__link {
    font-size: 32px;
  }

  .nav__item:nth-child(5) {
    display: none;
  }

  .nav__item:first-child{
    margin-top: auto;
    padding-top: 96px;
  }

  .nav__item:last-child {
    margin-top: auto;
    display: block;
  }

  .item__socials-link {
    margin-bottom: 47px;
  }

  .item__social-link +  .item__social-link{
    margin-left: 20px;
  }

  .promo__link-btn {
    display: flex;
    justify-content: center;
    margin: 52px ;
  }

  .promo__box {
    min-height: 80vh;
  }

  .promo__box-title span {
    font-size: 693px;
    line-height: 42%;
    letter-spacing: -107px;
  }

  .promo__box-title {
    font-size: 90px;
  }

  .promo__box-title::first-letter {
    font-size: 195px;
  }

  .header__top {
    padding-top: 28px;
  }

  .portfolio__title {
    font-size: 160px;
    line-height: 120%;
  }

  .remember__title {
    font-size: 36px;
  }
}

@media (max-width: 760px) {
  .promo__box-title span {
    font-size: 620px;
    line-height: 60%;
    letter-spacing: -90px;
    top: 82px;
  }

  .promo__box-title {
    font-size: 75px;
  }

  .promo__box-title::first-letter {
    font-size: 165px;
  }

  .promo__box-subtitle {
    margin-top: -12px;
  }

  .professionals .slick-center.professionals__item {
    margin-top: 0;
    padding: 0 15px;
  }

  .professionals__item {
    margin-right: 20px;
  }

  .professionals__item-img {
    max-width: 430px;
  }

  .professionals__item-name {
    font-size: 26px;
  }

  .professionals__item-descr {
    font-size: 18px;
  }

  .portfolio__title {
    font-size: 140px;
    line-height: 120%;
  }

  .footer {
    background: url(../img/footer-bg-mini.jpg) no-repeat center;
    background-color: var(--bl);
  }

  .footer__items {
    display: none;
  }

  .footer__items--mobile {
    display: block;

    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
  }

  .footer__item--top {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    padding-bottom: 90px;
  }

  .footer__items--mobile .footer__item-socials {
    text-align: center;
    margin-top: 50px;
  }

  .footer__item-location {
    margin-left: 0;
  }

  .remember__inner {
    padding: 50px 0px;
  }

  .remember__title,
  .services__title {
    font-size: 30px;
  }

}

@media (max-width: 690px) {
  body {
    font-size: 18px;
  }

  .about {
    margin-bottom: 100px;
  }

  .about__inner {
    padding: 78px 0 222px;
  }

  .video {
    background: linear-gradient(to right, rgb(62 64 55 / 50%), rgb(62 64 66 / 50%)), url(../img/video-bg-mini.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 55px;
  }

  .video__title {
    display: none;
  }

  .video__link-img {
    margin: 81px 0 64px;
    width: 72px;
  }


  .portfolio__title {
    font-size: 130px;
    line-height: 130%;
  }

  .services__item-img {
    width: 60px;
  }

  .remember__title,
  .services__title {
    font-size: 28px;
  }

  .link-btn {
    justify-content: center;
    font-size: 14px;
    margin: 0 auto;
  }

  .remember {
    background: linear-gradient(to right, rgb(62 64 55 / 50%), rgb(62 64 66 / 50%)), url(../img/remember-bg-mini.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 57px;
    background-position: 30vw;
  }

  .services {
    margin-bottom: 57px;
  }

}

@media (max-width: 620px) {
  .promo__box-title span {
    font-size: 530px;
    line-height: 84%;
    letter-spacing: -77px;
    top: 60px;
  }

  .promo__box-title {
    font-size: 60px;
  }

  .promo__box-title::first-letter {
    font-size: 140px;
  }

  .promo__box-subtitle {
    margin-top: -10px;
  }
}

@media (max-width: 550px) {
  body {
    font-size: 16px;
  }

  .promo__box-title span {
    font-size: 530px;
    line-height: 82%;
    letter-spacing: -90px;
    top: 54px;
  }

  .promo__box-title {
    font-size: 60px;
  }

  .promo__box-title::first-letter {
    font-size: 140px;
  }

  .promo__box-subtitle {
    margin-top: -10px;
  }

  .about {
    background: linear-gradient(to right, rgb(62 64 55 / 50%), rgb(62 64 66 / 50%)), url(../img/about-bg-mini.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .section-title {
    font-size: 30px;
  }

  .professionals__item-img {
    max-width: 380px;
  }

  .professionals__item-name {
    font-size: 22px;
  }

  .professionals__item-descr {
    font-size: 16px;
  }

  .portfolio__inner {
    grid-template-columns: auto;
  }

  .portfolio__title {
    writing-mode: horizontal-tb;
    transform: scale(1, 1);
    text-align: center;
    font-size: 45px;
    letter-spacing: -0.585px;
    color: var(--wh);
    margin-bottom: 5px;
  }

  .services__item {
    margin-bottom: 20px;
  }

  .remember__title,
  .services__title {
    font-size: 23px;
  }
}

@media (max-width: 430px) {
  body {
    font-size: 14px;
  }

  .promo__box-title span {
    font-size: 380px;
    line-height: 82%;
    letter-spacing: -90px;
    top: 54px;
  }

  .promo__box-title {
    font-size: 60px;
    margin-top: 60px;
  }

  .promo__box-title::first-letter {
    font-size: 107px;
  }

  .promo__box-subtitle {
    margin-top: -10px;
  }

  .portfolio__title {
    font-size: 30px;
  }

  .remember__title,
  .services__title {
    font-size: 16px;
  }

  .professionals__item-img {
    max-width: 283px;
  }

  .professionals__item-name {
    font-size: 17px;
  }

  .professionals__item-descr {
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .promo__box-title span {
    font-size: 243.701px;
    top: 30px;
    letter-spacing: -37px;
  }
  .promo__box-title {
    margin-top: 170px;
    font-size: 48.344px;
    letter-spacing: -0.967px;
    margin-right: 13px;
  }

  .promo__box-title::first-letter {
    font-size: 79.641px;
    letter-spacing: -41.593px;
  }
  .promo__box-subtitle {
    font-size: 6.5px;
    margin-top: -9px;
    letter-spacing: -0.195px;
    margin-right: 10px;
  }
  .promo {
    background: url(../img/promo-bg-mini.jpg) no-repeat;
    background-color: #01090c;
    padding-bottom: 0;
  }
}
