:root {
  --bl: #000000;
  --lg-grey: #8B8C8E;
  --dr-grey: #3E4042;
  --wh: #ffffff;
  --lg-green: #5AFDFF;
  --dr-green: #159A9C;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: min(100% - 30px, 1790px);
  margin-inline: auto;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--wh);
  background: var(--dr-grey);
}

.header {
  background: url(../img/promo-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  
  min-height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 6px 0;
  padding-top: 40px;
}

.nav__items {
  display: flex;
  gap: 65px;
}

.item__link {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #B4BEC9;;
}

.item__link-btn {
  font-size: 16px;
  letter-spacing: -0.32px;
  font-weight: 400;
  color: var(--wh);
  padding: 15px 56px;
  border-radius: 15px;
  background-color: var(--dr-green);
}

.burger {
  display: none;
}

.promo {

}

.promo__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

}

.promo__box-title {
  text-align: left;
}

@media (max-width: 940px) {
  .nav__items {
    gap: 50px;
  }

  .item__link-btn {
    padding: 15px 35px;
  }
}



@media (max-width: 830px) {
  .nav__items {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #0a0a0af0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-100%);
    transition: .4s ease;
  }

  .nav__items.menu-open {
    transform: translateY(0%);
  }

  .burger {
    position: relative;
    display: block;
    background: none;
    width: 32px;
    height: 22px;
    cursor: pointer;
    outline: none;
    border: none;
    z-index: 10;
  }

  .burger span {
    position: absolute;
    display: block;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--dr-green);
    border-radius: 50px;
    transition-property: transform;
    transition-duration: 400ms;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.495, -0.495, 0.44, 1.445);
  }

  .burger span:before,
  .burger span:after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 100%;
    background: var(--dr-green);
    left: 0;
    border-radius: 50px;
  }

  .burger span:before {
    top: -8px;
    transition-property: width, margin-left, margin-top, height;
    transition-duration: 200ms, 200ms, 200ms, 200ms;
    transition-delay: 400ms, 400ms, 200ms, 200ms;
    transition-timing-function: ease;
  }

  .burger span:after {
    bottom: -8px;
    transition-property: width, margin-left;
    transition-duration: 200ms, 200ms;
    transition-delay: 400ms, 400ms;
    transition-timing-function: ease;
  }

  .burger.open span {
    transform: rotate(45deg);
    transition-delay: 600ms;
  }

  .burger.open span:after {
    width: 0;
    margin-left: 28px;
    transition-delay: 0s, 0s;
  }

  .burger.open span:before {
    width: 2px;
    margin-left: 15px;
    margin-top: -7px;
    height: 32px;
    transition-delay: 0s, 0s, 200ms, 400ms;
  }

  .header__top {
    padding-top: 28px;
  }
}
